.property-details-content {
    display: flex;
    flex-direction: column;

    @media (min-width: 800px) {
        flex-direction: row;
        /*padding-left: 37px;*/
    }

    .property-details {
        box-sizing: border-box;
        padding-right: 24px;
        padding-left: 24px;

        img {
            border: 1px solid #ccc;
            box-shadow: black 0 0 4px;
        }

        .pictures {
            .thumbnail {
                height: 100px;
            }
        }

        .features {
            display: grid;
            gap: 16px;
            margin-top: 12px;
            grid-template-columns: repeat(2, 140px);

            @media (min-width: 800px) {
                grid-template-columns: repeat(3, 140px);
            }
        }
    }

    .offerForm {
        height: 100%;
        background: #f2f2f2;
        padding: 3px 23px 53px;

        @media (min-width: 800px) {
            width:300px;
        }
    }
}