.property {
    display: flex;
    flex-direction: column;
    width: 225px;
    position:relative;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    .picture-link {

        .status-badge {
            text-transform: capitalize;
            font-size: 12px;
            position: absolute;
            top: 0;
            right: 0;
            background: black;
            padding: 4px 20px;
            border-radius: 0 5px 0 4px;
            color: #fff; /* White text */
        }

        .available {
            background: #00cc00;
        }

        .pending {
            background: #ffcc00;
        }

        .sold {
            background: #b72222;
        }

        .contingent {
            background: #ff9900;
        }

        .picture {
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            width: 100%;
            height: 150px;
        }
    }

    .info {
        position: relative;
        padding: 9px 17px 17px;
        flex-grow: 1;
    }

    .name {
        font-size: 18px;
        font-weight: bold;
        color: #333;
        text-decoration: none;
    }

    .name:hover {
        color: #007bff;
    }

    .price {
        font-size: 16px;
        color: #555;
    }

    .description {
        font-size: 14px;
        color: #777;
        margin-top: 10px;
    }
}