.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.header {
    background: #4c22c1;
    padding: 0 12px;

    nav {
        align-items: center;

        .title-link {
            color: white;
        }

        .login-logout-link {
            color: white;
            margin-left: auto;
        }
    }
}

.properties {
    margin: 12px;
    gap: 6px;

    .property {
        padding: 6px;
        border: 1px solid #ccc;
    }
}

.propertyDetails {
    img {
        border: 1px solid #ccc;
        box-shadow: black 0px 0px 4px;
    }
}