@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

html, body, #root {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Open Sans', sans-serif;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.form {
    max-width: 400px; /* Adjust the maximum width as needed */

    .form-group {
        margin-bottom: 20px; /* Adjust the margin between form groups */

        label {
            display: block;
            margin-bottom: 5px; /* Adjust the margin below labels */
            color: #333;
        }

        textarea,
        input[type="number"],
        input[type="text"],
        input[type="email"],
        input[type="password"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        select {
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            background-color: #f9f9f9;
            color: #333;
            font-size: 16px;
            outline: none; /* Remove default focus outline */

            option {
                background-color: #fff;
                color: #333;
            }

            &::-ms-expand {
                display: none;
            }
        }
    }

    button {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        background-color: #007bff; /* Adjust the button color */
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: #5b5b5b; /* Adjust the hover color */
        }
    }
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;

    th, td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
        color: #333;
    }

    tbody tr:hover {
        background-color: #f9f9f9;
    }

    button, a {
        padding: 6px 10px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-right: 5px;
        font-size: 14px;
        text-decoration: none;
        color: #fff;
    }

    button {
        background-color: #007bff;
    }

    button:hover {
        background-color: #555;
    }

    a {
        background-color: #28a745;
    }

    a:hover {
        background-color: #555;
    }
}


.header {
    background-color: #212121;
    color: #fff;
    padding: 5px 37px; /* Adjust padding to make the header slimmer */

    a {
        color: white;
    }

    nav {
        align-items: center;
        display: flex;

        a {
            color: #fff;
            text-decoration: none;
            padding: 10px;

            &:hover:not(.logo) {
                background-color: #555;
                border-radius: 5px;
            }
        }

        .logo {
            padding: 0;

            img {
                width: 213px;
            }
        }

        .dashboard-links {
            margin-left: 15px;
        }

        .auth-links {
            margin-left: auto;

            a {
                background-color: #dc3545;
                border-radius: 5px;
                padding: 8px 16px;
                margin-left: 12px;
            }
        }

        .add-property {
            background-color: #007bff;
            border-radius: 5px;
            padding: 8px 16px;
            margin-left: 19px;
        }
    }
}

.homepage {
    h1 {
        text-align: center;
        margin: 25px 0 7px;
    }

    .properties {
        margin: 0 0 28px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(210px, max-content));
        grid-gap: 16px;
        justify-content: center;
        padding: 13px 37px;

        .property {
            position:relative;
            background-color: #f9f9f9;
            border-radius: 8px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

            .picture-link {

                .status-badge {
                    text-transform: capitalize;
                    font-size: 12px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    background: black;
                    padding: 4px 20px;
                    border-radius: 0 5px 0 4px;
                    color: #fff; /* White text */
                }

                .available {
                    background: #00cc00;
                }

                .pending {
                    background: #ffcc00;
                }

                .contingent {
                    background: #ff9900;
                }

                .picture {
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    width: 100%;
                    height: 150px;
                }
            }

            .info {
                padding: 9px 17px 17px;
            }

            .name {
                font-size: 18px;
                font-weight: bold;
                color: #333;
                text-decoration: none;
            }

            .name:hover {
                color: #007bff;
            }

            .price {
                font-size: 16px;
                color: #555;
            }

            .description {
                font-size: 14px;
                color: #777;
                margin-top: 10px;
            }
        }
    }
}

.property-details-content {
    padding-left: 37px;
    height: 100%;

    .property-details {
        img {
            border: 1px solid #ccc;
            box-shadow: black 0px 0px 4px;
        }

        .pictures {
            .thumbnail {
                height: 100px;
            }
        }
    }

    .offerForm {
        height: 100%;
        width:350px;
        background: #f2f2f2;
        padding: 3px 23px 53px;
    }
}

.footer {
    margin-top: auto;
    background: #212121;
    color: white;
    padding: 20px 0;
    text-align: center;

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;

        .footer-info {
            font-size: 16px;
        }

        .footer-developers {
            font-size: 14px;
            margin-top: 10px;

            a {
                color: white;
                text-decoration: none;
                margin: 0 5px;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.login-form, .register-form {
    margin-top: 44px;
}

.edit-property-content, .edit-offer-content,
.owner-dashboard-content, .admin-dashboard-content, .customer-dashboard-content {
    padding: 16px;
}

/* Message */
.message {
    display: flex;
    height: 100vh;

    .sidebar {
        width: 20%;
        max-height: 82vh;
        border-right: 1px solid #b3b1b1;
        overflow-y: scroll;

        .box {
            display: flex;
            align-items: center;
            padding-top: 0.75em;
            padding-bottom: 0.75em;
            cursor: pointer;
            border-bottom: 1px solid #efefef;

            img {
                width: 20%;
                height: 20%;
                margin: 0 1em;
            }

            .text {
                .user {
                    font-weight: bold;
                    color: #3a3a3a;
                }
            
                .text-message {
                    font-size: 14px;
                    color: #5c5a5a;
                }

                .user.unread {
                    color: #007bff;
                }

                .text-message.unread {
                    color: #007bff;
                }
            }
        }

        .box.active {
            background-color: #efefef;
        }

        .box:hover {
            background-color: #efefef;
        }
    }

    p {
        margin: 0 0 0.25em 0;
    }

    .content {
        width: 80%;
        height: 100%;

        .content-message {
            background-color: #efefef;
            padding: 1em;
            height: 80%;
            overflow-y: scroll;

            .recieved {
                display: flex;
                margin-bottom: 1em;

                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 0.5em;
                }

                .recieved-box {
                    background-color: white;
                    padding: 0.5em 1.5em;
                    border-radius: 15px;
                    border-top-left-radius: 0px;
                    width: fit-content;
                }

                .recieved-user {
                    font-weight: bold;
                    font-size: 14px;
                    color: #3a3a3a;
                }

                .recieved-message {
                    font-size: 15px;
                    color: #111111;
                }
            }

            .sent {
                background-color: #007bff;
                color: white;
                padding: 0.5em 1.5em;
                border-radius: 15px;
                border-top-right-radius: 0px;
                width: fit-content;
                margin-left: auto;
                margin-bottom: 1em;
            }
        }

        form {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 1em;

            input, button {
                font-size: 15px;
                padding: 1em;
                border-radius: 10px;
            }

            input {
                width: 100%;
                border: 1px solid #aeaeae;
                margin-right: 1em;
            }

            button {
                width: fit-content;
                border: 1px solid #007bff;
                background-color: #007bff;
                color: white;
                font-weight: bold;
            }
        }
    }
}